{% extends "templates/base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-5">
        <br>
        <small><a href="#">{{ question.author }}</a></small>
        <h1>{{ question.question_text }}</h1>
        {% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}
        <form action="{% url 'polls:vote' question.id %}" method="POST">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label class="form-check-label" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br><br>
            </div>
            {% endfor %}
            <input class="btn btn-outline-primary" type="submit" value="Vote">
            </form>
        </div>
    </div>
{% endblock %}