<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'polls:index' %}">POLLS</a>
    <div class="collapse navbar-collapse d-flex flex-row-reverse">
        <ul class="navbar-nav" id="navbarResponsive">

            {% if user.is_authenticated %}
            <div class="p-2">
                <a class="nav-item nav-link" href="{% url 'logout' %}" style="color: white">Logout</a>
            </div>

            <div class="p-2">
                <a class="nav-item nav-link" href="{% url 'profile' %}" style="color: white">{{ user.username }}</a>
            </div>

            {% else %}
            <div class="p-2">
                <a class="nav-item nav-link" href="{% url 'login' %}" style="color: white">Login</a>
            </div>

            <div class="p-2">
                 <a class="nav-item nav-link" href="{% url 'register' %}" style="color: white">Register</a>
            </div>
            {% endif %}
        </ul>
    </div>
</nav>