<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'polls:index' %}">POLLS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <!-- navbar right side -->
        <div class="navbar-nav">

            {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'polls:new_poll' %}" style="color: white">Create</a>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" style="color: white">{{ user.username }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'users:profile' %}">Edit Profile</a>
                        <a class="dropdown-item" href="{% url 'users:public_profile' user.username %}">Your Polls</a>
                    </div>
                </div>

                <a class="nav-item nav-link" href="{% url 'users:logout' %}" style="color: white">Logout</a>

            {% else %}
                <a class="nav-item nav-link" href="{% url 'users:login' %}" style="color: white">Login</a>

                <a class="nav-item nav-link" href="{% url 'users:register' %}" style="color: white">Register</a>
            {% endif %}
        </div>
    </nav>
</nav>